.page {
  display: flex;
  a {
    color: inherit !important;
  }
  &__wrapper {
    width: 210mm;
    height: 297mm;
    border: 1px solid rgb(91, 90, 90);
    display: flex;
  }

  &__side-bar {
    width: 75mm;
    background-color: var(--color-gray-75);
    height: 100%;
    padding: 8mm;
    color: white;
    font-size: 14px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    img {
      max-width: 100%;
      margin-top: -42px;
    }
    
    .image_wrapper {
      width: calc(100% + 16mm);
      margin: -8mm -8mm -14px -8mm;
      flex-shrink: 0;
      height: 280px;
      overflow: hidden;
      align-items: flex-start;
      flex-shrink: 0;
      justify-content: center;
    }

    svg {
      display: inline-block;
      background-color: white;
      color: var(--color-gray-75);
      border-radius: 50%;
      padding: 4px;
      flex-shrink: 0;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    h3 {
      border-bottom: 1px solid white;
      margin: 6px 0;
    }

    a {
      color: white;
      text-decoration: none;
    }

    ul {
      padding: 0 0 0 16px;
      margin: 0;
    }
  }
}

.interests {
  display: flex;
  gap: 4px;
  svg {
    width: 24px;
    height: 24px;
    border-radius: 0;
  }
}

.row {
  display: block !important;

  & > div {
    display: block;
    width: 100%;
  }
}


.progress{
  display: block !important;

  .title{
    margin-bottom: 4px;
    small {
      float: right;
      margin-top: 3px;
    } 
  }
  &_bar {
    width: 100%;
    height: 10px;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
  }
  &_res {
    background-color: white;
    height: 10px;
  }
}

.main_area {
  padding: 1rem;
  padding-right: 8mm;
  font-size: 14px;

  h3 {
    border-bottom: 1px solid black;
  }

  a {
    color: rgb(0, 0, 238)
  }
  small {
    display: block;
    margin-top: 4px;
    width: 100%;
    color: var(--color-gray-75);
  }

  .berufserfahrung {
    h4 {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    b {
      font-size: 13px;
    }
    p {
      margin: 1rem 0;
    }
  }

  .ausbildung {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & > div {
      display: flex;
    }

    div.date {
      width: 88px;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      padding-right: 12px;
      flex-wrap: wrap;

      span {
        margin-left: auto;
      }
    }
  }
  .name {
    background-color: var(--color-gray-75);
    margin: 20px  -16px 14px;
    margin-right: -8mm;
    padding: 16px;
    color: white;
    font-size: 1rem;
    line-height: 1;
    
    h1 {
      font-size: 2.3rem;
      font-weight: normal;
      margin: 0px 0 10px;
    }
  }
}

@media print {
  .top-navigation__wrapper, nextjs-portal {
    display: none !important;
  }

  .content__wrapper {
    padding: 0 !important;

    & > h1, & > br {
      display:none;
    }
  }
}