.input-field{
  &__toggle {
      position: absolute;
      top: 1rem;
      right: 0.5rem;
      cursor: pointer;
    }
  &__wrapper {
    position: relative;
    
    

    input {
      all: unset;
      width: 100%;
      padding: 0.9rem 1.25rem;
      border: 1px solid var(--color-gray-25);
      border-radius: var(--border-radius-df);
      background: var(--color-gray-0);
      color: var(--color-gray-100);
      box-sizing: border-box;
    }
  }
}