.bb-heading__wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacer-df);

  & > a {
    color: var(--color-gray-75);
    
    :hover {
      transition: all .3s;
      transform: translate(-4px, 0);
    }
  }
}