.textarea-field__wrapper {
  textarea {
    all: unset;
    width: 100%;
    padding: 0.9rem 1.25rem;
    border: 1px solid var(--color-gray-25);
    border-radius: var(--border-radius-df);
    background: var(--color-gray-0);
    color: var(--color-gray-100);
    box-sizing: border-box;
  }
}